flask==3.0.3
flask-cors==4.0.1
requests==2.31.0
librosa==0.10.2
numpy<2.0
pretty_midi==0.2.10
piano_transcription_inference==0.0.6
torch==2.5.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
soundfile==0.12.1
setuptools<82
